@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a1a;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #1a1a1a;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  /* ExtraBold */
  font-style: normal;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0;
}

/* Container with max width */
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}